{% extends "base.html" %}
{% block content %}

<h2>Ваш кошик</h2>

{% if not cart %}
<p>Кошик порожній.</p>
{% else %}

<table class="table">
    <tr>
        <th>Товар</th>
        <th>К-сть</th>
        <th>Ціна</th>
    </tr>

    {% for item in cart %}
    <tr>
        <td>{{ item.desc }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.price }}$</td>
    </tr>
    {% endfor %}
</table>

<h3>Сума: {{ total }}$</h3>

<form method="GET" action="{{ url_for('checkout') }}">
    <button class="btn-primary">Перейти до оформлення</button>
</form>

{% endif %}

{% endblock %}
