{% extends "base.html" %}
{% block content %}

<h2 class="form-title">Створити акаунт</h2>

<form method="POST" class="form-box">
    {{ form.hidden_tag() }}

    <label>Email</label>
    {{ form.email(class="input") }}

    <label>Пароль</label>
    {{ form.password(class="input") }}

    <label>Повторіть пароль</label>
    {{ form.confirm_password(class="input") }}

    {{ form.submit(class="btn-primary") }}

    {% if message %}
    <p class="error">{{ message }}</p>
    {% endif %}
</form>

{% endblock %}

